<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <img src="/assets/img/logo.png" srcset="/assets/img/logo.png" [routerLink]="['/home']">
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ng-container *ngIf="gamePlatformSelected; else showPlatforms">
        <div class="platformTitleContainer" fxLayout="row" fxLayoutAlign="center center">
            <div class="platformTitle">Juegos de {{gamePlatformSelected[0].platform}} guardados</div>
            <ion-button class="icon-only primary" (click)="gamePlatformSelected = null">
                <ion-icon name="redo"></ion-icon>
            </ion-button>
        </div>
        <div class="gameCardList" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <img class="gameCard" [ngClass]="{'collectorsEdition': game.collectors_edition}" *ngFor="let game of gamePlatformSelected" [src]="game.image" [alt]="game.name" [routerLink]="['/', game.game_code]">
        </div>
    </ng-container>
    <ng-template #showPlatforms>
        <div class="userGameTypeSection">
            <ion-radio-group [value]="selectLibrary" (ionSelect)="initializeLibrary($event)">
                <ion-row>
                    <ion-item *ngFor="let userLibrary of objectKeys(userLibraries)">
                        <ion-label>{{userLibraries[userLibrary]}}</ion-label>
                        <ion-radio slot="start" [value]="userLibrary"></ion-radio>
                    </ion-item>
                </ion-row>
            </ion-radio-group>
        </div>
        <div class="platformLibraryList" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <div class="platformLibraryCard" *ngFor="let platform of objectKeys(userGamesLibrary)" (click)="selectGamePlatform(platform)">
                <img class="platformLibraryImage" [src]="gameMeth.getPlatformImage(platform)" [alt]="platform">
                <div class="platformLibraryQuantity">({{userGamesLibrary[platform].length}}) guardado<span *ngIf="userGamesLibrary[platform].length > 1">s</span></div>
            </div>
        </div>
    </ng-template>
</ion-content>