<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <img src="/assets/img/logo.png" srcset="/assets/img/logo.png">
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="gameBoxartContainer">
        <img class="gameBoxart" [src]="gameData.image" [srcset]="gameData.image">
        <ion-button class="gameEditButton primary icon-only" [routerLink]="['/edit-game', gameData.game_code]" *ngIf="authService.userLogged && authService.userLogged.admin">
            <ion-icon name="create"></ion-icon>
        </ion-button>
    </div>

    <div class="gameDataContianer">
        <div class="gameDataSection gameDataName">{{gameData.name}} <span *ngIf="gameData.original_name">[{{gameData.original_name}}]</span></div>

        <div class="gameDataSection gameDataGenresContainer" *ngIf="gameData.genres">
            <div class="gameDataSectionTitle">Género</div>
            <div class="ionChipList">
                <ion-chip *ngFor="let genre of gameData.genres" selected="true">{{genre}}</ion-chip>
            </div>
        </div>

        <div class="gameDataSection gameDataPlatform">
            <div class="gameDataSectionTitle">Plataforma / Otras Plataformas</div>
            <div class="gameDataPlatforms" fxLayout="row wrap" fxLayoutAlign=" center">
                <img [src]="gameMeth.getPlatformImage(gameData.platform)">
                <div class="slashDivider" *ngIf="gameData.other_platforms && gameData.other_platforms.length">/</div>
                <img [src]="gameMeth.getPlatformImage(otherPlatform.platform)" *ngFor="let otherPlatform of gameData.other_platforms" [routerLink]="['/', otherPlatform.game_code]">
            </div>
        </div>

        <div class="gameDataSection gameDataRegion">
            <div class="gameDataSectionTitle">Región / Otras Regiones</div>
            <div class="gameDataRegions" fxLayout="row" fxLayoutAlign=" center">
                <img [class]="gameData.region" [src]="gameMeth.getRegionImage(gameData.region)">
                <div class="slashDivider" *ngIf="gameData.other_regions && gameData.other_regions.length">/</div>
                <img [class]="otherRegion.region" [src]="gameMeth.getRegionImage(otherRegion.region)" *ngFor="let otherRegion of gameData.other_regions" [routerLink]="['/', otherRegion.game_code]">
            </div>
        </div>

        <div class="gameDataSection gameReleaseDate" *ngIf="gameData.release_date_full">
            <div class="gameDataSectionTitle">Fecha de Lanzamiento</div>
            <div class="gameDataReleaseDate">{{gameData.release_date_full}}</div>
        </div>

        <div class="userGameTypeSection" *ngIf="authService.userLogged && gameData.userGame">
            <ion-item>
                <ion-label position="stacked">Poner en mi Biblioteca de Juegos</ion-label>
                <ion-select (ionChange)="addGameToLibrary($event.detail.value)" [value]="gameData.userGame.type">
                    <ion-select-option [value]="null">Ninguna</ion-select-option>
                    <ion-select-option [value]="userLibrary" *ngFor="let userLibrary of objectKeys(userLibraries)">{{userLibraries[userLibrary]}}</ion-select-option>
                </ion-select>
            </ion-item>
        </div>

        <div class="userGameDataSection" *ngIf="gameData.userGame && gameData.userGame.type === 'owned'">
            <div class="userGameDataTitleContainer" fxLayoutAlign="space-between center">
                <div class="gameDataSectionTitle" style="margin-bottom: 0;">Mis datos</div>
                <ion-button class="icon-only primary" (click)="openModal()">
                    <ion-icon name="create"></ion-icon>
                </ion-button>
            </div>

            <div class="userGameDataContainer" *ngIf="!gameData.userGame">
                <strong style="text-align: center;">Sin Datos</strong>
            </div>

            <div class="userGameDataContainer" fxLayoutAlign="space-between center">
                <div class="userGameSection" *ngIf="gameData.userGame.price">
                    <strong>Precio: </strong> {{gameData.userGame.price  | number:'.2'}} <span *ngIf="gameData.userGame.currency">{{currencies[gameData.userGame.currency].symbol}}</span>
                    <ion-chip selected="true"  *ngIf="gameData.userGame.currency">{{currencies[gameData.userGame.currency].name}}</ion-chip>
                </div>
            </div>

            <div class="userGameDataContainer" fxLayoutAlign="space-between center">
                <div class="userGameSection" *ngIf="gameData.userGame.bought_date">
                    <strong>Fecha de Compra: </strong> {{gameData.userGame.bought_date  | date :'EEEE, MMMM d, y'}}
                </div>
            </div>
        </div>
    </div>
</ion-content>