<ion-app>
    <ion-progress-bar color="secondary" type="indeterminate" *ngIf="loading.isLoading"></ion-progress-bar>
    <ion-split-pane>
        <ion-menu type="overlay">
            <ion-header>
                <ion-toolbar color="primary">
                    <ion-title>Menu</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content class="sideMenu">
                <ion-list>
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of getAppPages()">
                        <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" (click)="p.icon == 'exit' ? logOff() : null">
                            <ion-icon slot="start" [name]="p.icon"></ion-icon>
                            <ion-label>{{p.title}}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item [routerDirection]="'root'" [routerLink]="['/create-game']" *ngIf="authService.userLogged && authService.userLogged.admin">
                            <ion-icon slot="start" name="logo-game-controller-a"></ion-icon>
                            <ion-label>Crear un juego</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-item auto-hide="false" [routerDirection]="'root'" [routerLink]="['/pending-games']" *ngIf="authService.userLogged && authService.userLogged.admin">
                        <ion-icon slot="start" name="cloud-upload"></ion-icon>
                        <ion-label>Juegos pendientes</ion-label>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>