<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <img src="/assets/img/logo.png" srcset="/assets/img/logo.png">
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <input class="boxartInput" type="file" (change)="selectBoxart($event)" />

    <form class="addGameForm" [formGroup]="addGameForm.formGroup">
        <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="name"></ion-input>
        </ion-item>
        <div class="fieldError">{{addGameForm.hasError('name')}}</div>

        <ion-item>
            <ion-label position="floating">Nombre Original</ion-label>
            <ion-input formControlName="original_name"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Código del Juego</ion-label>
            <ion-input formControlName="game_code"></ion-input>
        </ion-item>
        <div class="fieldError">{{addGameForm.hasError('game_code')}}</div>

        <div fxLayout="row" class="barcodeField">
            <ion-item>
                <ion-label position="floating">Código de Barras</ion-label>
                <ion-input formControlName="barcode"></ion-input>
            </ion-item>
            <ion-button class="barcodeButton" (click)="openBarcodeScanner()">
                <ion-icon slot="icon-only" name="barcode"></ion-icon>
            </ion-button>
        </div>
        <div class="fieldError">{{addGameForm.hasError('barcode')}}</div>

        <ion-item>
            <ion-label>Plataforma</ion-label>
            <ion-select formControlName="platform">
                <ion-select-option [value]="platform" *ngFor="let platform of platforms">{{platform}}</ion-select-option>
            </ion-select>
        </ion-item>
        <div class="fieldError">{{addGameForm.hasError('platform')}}</div>

        <ion-item>
            <ion-label>Region</ion-label>
            <ion-select formControlName="region">
                <ion-select-option [value]="region" *ngFor="let region of gameRegions">{{region}}</ion-select-option>
            </ion-select>
        </ion-item>
        <div class="fieldError">{{addGameForm.hasError('region')}}</div>
    </form>

    <ion-button expand="block" [disabled]="addGameForm.formIsInvalid() || gameBoxart === null" (click)="addGame()">Crear Juego</ion-button>
</ion-content>