<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        
        <img src="/assets/img/logo.png" srcset="/assets/img/logo.png" [routerLink]="['/home']">

        <ion-buttons slot="end">
            <ion-button class="icon-only accent" disabled="true"><ion-icon name=""></ion-icon></ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="user-info-tab">
                <ion-icon name="person"></ion-icon>
                <ion-label>Datos del Usuario</ion-label>
            </ion-tab-button>
        
            <ion-tab-button tab="speakers">
                <ion-icon name="logo-game-controller-b"></ion-icon>
                <ion-label>Librería</ion-label>
            </ion-tab-button>
        
            <ion-tab-button tab="speakers">
                <ion-icon name="people"></ion-icon>
                <ion-label>Amigos</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>